@import "../../scss/abstracts/sass-variables";

.bio {
  overflow-x: hidden;
  position: relative;
  background-color: var(--text-light);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: auto;

  color: rgba(#fff, 0.8);

  @media only screen and (min-width: $bp-md) {
    box-shadow: 1.8rem 1.7rem 1rem rgba(0, 0, 0, 0.4);
  }

  @media only screen and (min-width: 103.12375em) {
    box-shadow: 2.5rem 2.3rem 1rem rgba(0, 0, 0, 0.4);
  }
}

.bio-btn {
  position: relative;
  width: 15rem;
  margin: 2rem auto;
  height: 3.5rem;
  display: flex;

  justify-content: space-between;
  align-items: center;
  border: 1px solid black;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 12.7rem;
    font-size: 1.4rem;
    font-weight: 600;
    white-space: nowrap;
    transform: translate(-49%, -50%);
  }
}

.heading {
  position: relative;
  z-index: 1;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  background-image: linear-gradient(to right, #6fd4a5, #2191d0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(-15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(#000, 0.2);
  }
}

.text {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
  padding: 0 1rem;

  strong {
    display: inline;
  }

  @media only screen and (min-width: $bp-md) {
    font-size: 1.4rem;
    padding: 0 2rem;
  }

  @media only screen and (min-width: $bp-lg) {
    font-size: 1.5rem;
    padding: 0 2rem;
  }

  // margin-bottom: 1rem;
}
