.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: var(--font-reg);
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem var(--text);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:focus,
  &:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem var(--text);
  }

  &--white {
    background-color: rgb(213, 243, 243);
    color: var(--text);

    &::after {
      background-color: rgb(213, 243, 243);
    }
  }

  &::after {
    content: ""; /*required */
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    /* this auto applies styles at 0% before the animation starts*/
    animation-fill-mode: backwards;
  }
}

.btn-text {
  position: relative;
  z-index: 1;
  &:link,
  &:visited {
    font-size: var(--font-reg);
    color: var(--text);
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid var(--bs-primary);
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: var(--bs-primary);
    color: var(--text);
    box-shadow: 0 1rem 2rem rgba(var(--text), 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(var(--text), 0.15);
    transform: translateY(0);
  }
}
