@import "../../../SASS/mixins/transition-mixins/simpleTransition";
@import "../../../SASS/mixins/mediaQuery-mixins/mediaQueryManager";
@import "../../../SASS//mixins/transition-mixins/colorTransition";

/********************************************************************************************/
.icon {
  fill: var(--color-text);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  @include colorTransition;

  &--advanced {
    transform: translateY(0.7rem) !important;
    width: 2.4rem;
    height: 2.4rem;
  }

  /************************************************************************/
  &--cycle {
    @include simpleTransition;
    transform: rotateZ(90deg);

    &:hover {
      fill: var(--color-title);
      width: 3.4rem;
      height: 3.4rem;
      transform: translate(1rem, 1rem, 90deg);
    }
  }

  /************************************************************************/
  &--export {
    @include simpleTransition;
    width: 2.9rem;
    height: 2.9rem;

    &:hover {
      fill: var(--color-title);
      width: 3.3rem;
      height: 3.3rem;
      transform: translate(1rem, 1rem, 90deg);
    }
  }

  /************************************************************************/
  &--cross {
    display: block;
    fill: var(--color-error);
    width: 1.7rem;
    height: 1.7rem;
    cursor: default;
    transform: translate(0.1rem, -0.1rem);
  }

  &--igmpRemove {
    display: block;
    fill: var(--color-error);
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    @include simpleTransition;
  }

  /************************************************************************/
  &--checkmark {
    display: block;
    fill: var(--color-active);
    width: 2rem;
    height: 2rem;
    cursor: default;
    transform: translateY(-0.2rem);
  }

  /************************************************************************/
  &--key {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-active);
  }

  /************************************************************************/
  &--key-button {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    fill: var(--color-text);
    transform: rotateZ(-2deg);
  }

  /************************************************************************/
  &--update {
    width: 2rem;
    height: 2rem;
  }

  /************************************************************************/
  &--exit {
    // width: 2.9rem;
    // height: 2.9rem;
    // display: block;
    // transform: translate(0.35rem, 0rem);
    @include simpleTransition;

    &:hover {
      fill: var(--color-text-hover);
    }

    @include respond(phone) {
      width: 4.3rem;
      height: 4.3rem;
      transform: translate(0.35rem, 0.2rem);
    }
  }

  /************************************************************************/
  &--chevron-thin-down {
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(0, 0.2rem);
  }

  /************************************************************************/
  &--plus {
    transform: translate(-0.5rem, -2.6rem);
    @include simpleTransition;
    &:hover {
      fill: var(--color-title);
      width: 3.4rem;
      height: 3.4rem;
    }
  }

  /************************************************************************/
  &--magnifying-glass {
    fill: var(--color-text);
    width: 9rem;
    height: 9rem;
    transform: rotateZ(90deg);

    &--sm {
      width: 2.2rem;
      height: 2.2rem;
      fill: var(--color-disabled);
    }
  }

  /************************************************************************/
  &--help {
    fill: var(--color-text);
    width: 2.8rem;
    height: 2.8rem;
    stroke: var(--color-background-cards);
    stroke-width: 1px;
    stroke-linejoin: round;
  }

  /************************************************************************/
  &--error {
    fill: var(--color-error);
    stroke: var(--color-background-cards);
  }

  /************************************************************************/
  &--warning {
    fill: var(--color-error);
  }

  /************************************************************************/
  &--srtEnabled {
    @include colorTransition;
    fill: var(--color-title) !important;
  }

  /************************************************************************/
  &--srtDisabled {
    @include colorTransition;
    fill: var(--color-text) !important;
  }

  /************************************************************************/
  &--darkTheme {
    @include colorTransition;
    fill: var(--color-text) !important;
  }

  /************************************************************************/
  &--playBtn {
    @include colorTransition;
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--color-text) !important;

    &:hover {
      @include simpleTransition;
      fill: var(--color-diagram) !important;
      width: 2.8rem;
      height: 2.8rem;
    }
  }

  /************************************************************************/
  &--pauseBtn {
    width: 2.4rem;
    height: 2.4rem;
    @include simpleTransition;
    fill: var(--color-text) !important;

    &:hover {
      @include simpleTransition;
      fill: var(--color-diagram) !important;
      width: 2.8rem;
      height: 2.8rem;
    }
  }

  /************************************************************************/
  &--stopBtn {
    width: 2.4rem;
    height: 2.4rem;
    @include simpleTransition;
    fill: var(--color-text) !important;

    &:hover {
      @include simpleTransition;
      fill: var(--color-diagram) !important;
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}
