.headshot {
  position: absolute;
  display: block;
  border-radius: 50%;

  background-size: cover;
  border: 1px solid rgba(#000, 0.8);
  -webkit-filter: drop-shadow(0.3rem 0.4rem 0.2rem #000);
  filter: drop-shadow(0.3rem 0.4rem 0.2rem #000);
  position: relative;

  &__img {
    background-image: url(../../assets/img/headshot.jpg);
    background-size: cover;
    opacity: 0.5;
  }
}
