@import "../../scss/base/animations";
@import "../../scss/abstracts/sass-variables";

.mission {
  margin: 9rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading-primary {
  color: var(--text-light);

  /* do this to fix the shaky animation issue */
  backface-visibility: hidden;
  margin-bottom: 4rem;

  &--main {
    backface-visibility: hidden;
    text-transform: uppercase;
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1.4rem;
    margin-bottom: 1.5rem;
    animation: moveInLeft 1.5s ease-out;
    text-shadow: 1px 3px 3px rgba(var(--text), 0.7);

    @media only screen and (max-width: $bp-md) {
      letter-spacing: 0.8rem;
      font-size: 2.5rem;
      animation: none;
      display: flex;
    }

    @media only screen and (max-width: $bp-sm) {
      font-size: 2rem;
    }
  }

  &--sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    animation: moveInRight 1.5s ease-out;
    backface-visibility: hidden;

    @media only screen and (max-width: $bp-md) {
      letter-spacing: 0rem;
      font-size: var(--font-reg);
      white-space: nowrap;
      animation: none;
    }
  }
}
