@import "customBS/custom-bootstrap";
@import "abstracts/css-variables";
@import "abstracts/sass-variables";
@import "base/animations";
@import "components/button";

body {
  background-color: #e7dcc8;
}

.resize-animation-stopper * {
  transition: none !important;
}

.app {
  display: flex;
  flex-direction: column;
  height: calc(var(--app-height) - 0rem);
  justify-content: space-between;
}
