@import "customBS/custom-bootstrap";
@import "abstracts/css-variables";
@import "abstracts/sass-variables";
@import "base/animations";
@import "components/button";

body {
  background-color: var(--bs-secondary);
}

.resize-animation-stopper * {
  transition: none !important;
}

.app {
  // display: flex;
  // flex-direction: column;

  height: 100vh;
  display: grid;
  grid-template-rows: min-content minmax(min-content, 1fr);
  align-content: space-between;
}
